html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  .logo {
    height: 50px;
    width: 75;
   }
  
  .filters {
    display: inline-flex;
    border-radius: 20px;
    margin: 50px;
    padding: 12px;
  }

  #lowcost {
    padding: 12px;
    border: 2px solid #F2F2;
    border-radius: 20px;
  }

  #family {
    border: solid 2px #F2F2;
    padding: 12px;
    border-radius: 20px;
  }

  #Romantic {
    border: solid 2px #F2F2;
    padding: 12px;
    border-radius: 20px;
  }

  #Pets {
    border: solid 2px #F2F2;
    padding: 12px;
    border-radius: 20px;
  }

  .Links {
    display: flex;
    flex-direction: row-reverse;

  }

  .Signup {
    flex: 100px 1 auto;
  }

  .Activites {
    flex: 100px 1 auto;
  }

  .Accommodations {
    flex: 100px 1 auto;
  }