  html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0 30px;
  }

  .logo {
    height: 50px;
    width: 75;
   }

  .filters {
    display: flex;
    border-radius: 35px;
    /* padding: 12px; */
  }

  .lowcost {
    /* padding: 12px; */
    border: 2px solid #F2F2;
    border-radius: 20px;
    /* color: #0065FC; */
    /* background-color: #deebff; */
    /* width: 165px; */
    /* height: 40px; */
    /* text-align: right; */
    /* padding-top: 13px;
    padding-right: 10px; */
    padding-right: 10px;
  }

  .lowcost span {
    padding-top: 15px;
  }

  .filter-icon {
    background-color: #deebff;
    border-radius: 50%;
    text-align: center;
    /* margin-top: 30px; */
    color: #0065FC;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 0;
  }

  /* .child {
    background-color: #deebff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
  }

  .heart {
    background-color: #deebff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
  }

  .dog {
    background-color: #deebff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
  }

  .family {
    border: solid 2px #F2F2;
    padding: 12px;
    border-radius: 20px;
    color: #0065FC;
  }

  .romantic {
    border: solid 2px #F2F2;
    padding: 12px;
    border-radius: 20px;
    color: #0065FC;
  }

  .pets {
    border: solid 2px #F2F2;
    padding: 12px;
    border-radius: 20px;
    color: #0065FC;
  } */

  .Links {
    display: flex;
    flex-direction: row-reverse;
  }

  .Signup {
    width: 100px;
    font-style: bold;
    color: blue;
  }

  .Activiteslink {
    width: 150px;
  }

  .Accommodations {
    width: 200px;
    color: blue;
  }

  h1 {
    margin-bottom: 0px;
    font-style: bold;
  }

  /* h3 {
    margin-top: 5px;
    font-weight: 100;
  } */

  footer {
    display: flex;
    background-color: #e9eaeb;
    margin-top: 20px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px;
  }

  .btops {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: space-evenly;
    width: 500px;
  }

  p {
    font-weight: 600;
  }

  /* .AccomCards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  } */

  .aubergeC {
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .les {
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .hotel-port {
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .hotel-mer {
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .aubergeP {
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .hotel-chez {
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .OldPortImg {
    width: 300px;
    height: 440px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .PomeguesImg {
    width: 300px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .FrioulImg {
    width: 300px;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .CalanquesImg {
    width: 300px;
    height: 440px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .NotreImg {
    width: 300px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .LongchampImg {
    width: 300px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .act-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* first card */
  .act-card-wrapper > section:nth-child(1) {
    width: 300px;
    height: 500px;
  }

  .wrapper-twoandthree > section:nth-child(1) {
    width: 300px;
    height: 300px;
  }

   /* second and then third card */
  .wrapper-twoandthree > section:nth-child(2) {
    height: 250px;
    width: 300px;
  }

  .act-card-wrapper > section:nth-child(3) {
    width: 300px;
    height: 500px;
  }

  .wrapper-fiveandsix > section:nth-child(1) {
    width: 300px;
    height: 300px;
  }

  .wrapper-fiveandsix > section:nth-child(2) {
    width: 300px;
    height: 300px;
  }

  .activity-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
  }

  .Accom {
    background-color: #f0f0f1;
    width: 880px;
    height: 625px;
    border-radius: 15px;
  }

  .Bluestar {
    color: blue;
  }

  .Graystar {
    color: gray;
  }

  .section-wrapper {
    display: flex;
  }

  .accom-cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    width: 245px;
    /* height: 200px; */
    margin: 5px;
  }

  .acc-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
  }

  h4 {
    margin: 5px;
  }

  h5 {
    margin: 5px;
  }

  .most {
    background-color: #f0f0f1;
    width: 420px;
    height: 620px;
    border-radius: 15px;
    margin-left: 100px;
    padding: 35px;
  }

  .most-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    width: 350x;
    height: 145px;
    /* margin: 5px; */
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */

  }

  .morning {
    width: 130px;
    height: 140px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .au-coeur {
    width: 130px;
    height: 140px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .tout {
    width: 130px;
    height: 140px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .cards-inside {
    text-align: right;
  }

  .chart {
    margin-left: 200px;
  }

  .text-show {
    margin-left: 50px;
  }

  .accom-title {
    margin-left: 45px;
    margin-top: 50px;
  }

  .info {
    background-color: blue;
    border-radius: 50%;
    color: white;
  }

  .activities {

  }

  @media screen and (max-width: 480px) {
    html {
      margin: 0;
    }
    
    .section-wrapper {
      display: inline;
    }
  
    .Accom {
      width: 480px;
      background-color: white;
      margin-bottom: -1250px;
      margin-top: 650px;
    }
  
    .most {
      margin-left: 0;
      padding: 0;
      width: 480px;
      margin-bottom: 1400px;
      border-radius: 0;
      /* margin-top: 200px; */
    }

    .body {
      margin: 0;
    }

    .accom-cards {
      height: 330px;
      width: 195px;
    }
  }
  /* Object cover: fit */